<nav  class="navbar navbar-dark  navbar-expand-lg  navbar-fixed-top"
    style="background-color: #424242;" *ngIf="isLoggedIn()">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/png-clipart-lamborghini-logo-brand-fellow-lamborghini-emblem-label.png" width="70" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="logOut()">Salir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/employees']">Empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/departamets']">Departamentos</a>
            </li>
        </ul>
    </div>
</nav>